<h2>
  Info List Component
</h2>
<p>
  Solverminds is a leading global technology company providing enterprise resource management solutions, consulting and data analytics services to a maritime industry where business meets the technology. The vision of the company is to develop a “Truly” integrated Enterprise Application Suite for the liner shipping company. Deeper domain expertise and advanced technology platforms offer a complete range of technology products for liner operations management, ship management, agency management and advanced analytics.

Solverminds solutions run on an advanced web platform that not just reduces the overall cost of IT but also ensures superlative user experience, global scalability, and quicker implementation cycles. Powered by Advanced Data Analytics and Optimization engines, our solutions not just automate the business processes but provide the actionable insights, predictive results, help make informed decisions and also prescribe the best actions for optimized business results.
</p>