
  <h1 style="text-align: center;font-family: Georgia, 'Times New Roman', Times, serif;">
    Welcome to {{ title }}!
  </h1>
  <nav style="display:flex;width: 100%;justify-content: space-between;background-color: #dcdcdc;">
    <div class ="disInline" routerLink="info" routerLinkActive="active"> Info List</div> 
    <div class ="disInline" routerLink="students" routerLinkActive="active"> Students List</div> 
    <div class ="disInline" routerLink="courses" routerLinkActive="active"> Courses List</div> 
    <div class ="disInline" routerLink="info" routerLinkActive="active"> Info List</div> 
    <div class ="disInline" routerLink="students" routerLinkActive="active"> Students List</div> 
    <div class ="disInline" routerLink="courses" routerLinkActive="active"> Courses List</div> 
    <div class ="disInline" routerLink="info" routerLinkActive="active"> Info List</div> 
    <div class ="disInline" routerLink="students" routerLinkActive="active"> Students List</div> 
    <div class ="disInline" routerLink="courses" routerLinkActive="active"> Courses List</div> 
    <div class ="disInline" routerLink="info" routerLinkActive="active"> Info List</div> 

  </nav>
  <router-outlet></router-outlet>
